:root {
  --primary: #460909;
  --secondary: #af1111;
  --dark: #000000;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    }    

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-content: center;
    }